@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 180 100% 25%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 245 4% 60%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .section-header {
    @apply text-[#1C1939] text-2xl font-bold;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "one one two three"
    "four four five three";
  grid-auto-rows: 175px;
}

.area-one {
  grid-area: one;
}

.area-two {
  grid-area: two;
}

.area-three {
  grid-area: three;
}

.area-four {
  grid-area: four;
}

.area-five {
  grid-area: five;
}

@media (max-width: 640px) {
  /* Tailwind's sm breakpoint */
  .grid-container {
    grid-template-areas:
      "one"
      "two"
      "three"
      "three"
      "four"
      "five";
    grid-auto-rows: 175px;
  }
}

.rbc-time-content > * + * > * {
  border: none !important;
  border-bottom: 1px solid #efefef !important;
}

.rbc-day-slot .rbc-time-slot {
  border: none !important;
  padding: 6px 0px !important;
  /* background-color: #f4f3f6 !important; */
}

.rbc-timeslot-group {
  border-color: #efefef !important;
  min-height: 0 !important;
  padding: 10px 0px !important;
}

.rbc-today {
  background-color: inherit !important;
}
